

@font-face {
  font-family: 'Commissioner';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Commissioner/Commissioner-Regular.woff2') format('woff2'),
       url('../fonts/Commissioner/Commissioner-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Commissioner';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Commissioner/Commissioner-Bold.woff2') format('woff2'),
       url('../fonts/Commissioner/Commissioner-Bold.woff') format('woff');
}



@font-face {
  font-family: 'DrukWideCyr';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Druk/DrukWideCyr-Bold.woff2') format('woff2'),
       url('../fonts/Druk/DrukWideCyr-Bold.woff') format('woff');
}



@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Inter/Inter-Medium.otf') format('otf');
}


