<footer class="footer padding-page">
  <div class="footer__content width-page x-center">
    <div class="footer__left">
      <p class="footer__text sub-title-common">Еще больше полезных материалов и видеоуроков <br> в нашем приложении</p>
      <div class="footer__container-link">
        <a class="footer__link" href="/" aria-label="Скачать приложение из Google Play">
          <img src="./assets/img/apple.svg" alt="Google Play">
        </a>
        <a class="footer__link" href="/" aria-label="Скачать приложение из App Store">
          <img src="./assets/img/google.svg" alt="App Store">
        </a>
      </div>
    </div>
    <div class="footer__right">
      <div class="qr">
        <img src="./assets/img/qr.png" alt="QR-код для скачивания приложения">
      </div>
    </div>
    <div class="footer__author">
      Сделано в Xpage
    </div>
  </div>
 
</footer>