<header class="header padding-page width-page x-center">
  <div class="header__content">
    <div class="header__content-left">
      <a class="header__logo" href="/" aria-label="На главную">
        <img src="assets/img/logo.svg" alt="Логотип сайта">
      </a>
      <nav class="header__nav" aria-label="Основное меню">
        <ul class="header__list list">
          <li class="list__item">
            <a class="list__link" href="/">Играть</a>
          </li>
          <li class="list__item">
            <a class="list__link" href="/">Смотреть</a>
          </li>
          <li class="list__item">
            <a class="list__link" href="/">Учиться</a>
          </li>
          <li class="list__item">
            <a class="list__link" href="/">Мероприятия</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__content-right">
      <div class="header__container-menu">
        <button class="header__burger-menu burger-menu" aria-label="Открыть меню" aria-expanded="false">
          <span class="burger-menu__icon"></span>
        </button>
        <div class="header__burger-title">меню</div>
      </div>
      <div class="header__container-ava">
        <div class="header__ava-title">
          Геннадий П.
        </div>
        <div class="header__ava">
          <img src="assets/img/ava.png" alt="Аватар Геннадия">
        </div>
      </div>
    </div>
  </div>
</header>