<section aria-labelledby="play-title" class="section-play">
  <div class="section-play__header header-section">
    <h2 id="play-title" class="header-section__title">
      Играй
    </h2>
    <a aria-label="Перейти в раздел 'Играй'" class="header-section__link link-common" href="/">
      В раздел
    </a>

  </div>
  <ul aria-label="Карточки про достоинства игры в баскетбол" class="section-play__list">
    <li class="section-play__list-item" aria-labelledby="card1-title" aria-describedby="card1-description">

      <a href="/" class="card-play">
        <div class="card-play__header">
          <div class="card-play__container-img">
            <img class="card-play__img" src="./assets/img/play/card_1.png" alt="играют в баскетбол">
          </div>
        </div>
        <div class="card-play__content">
          <h3 id="card1-title" class="card-play__title">Найди себе команду</h3>
          <p id="card1-description" class="card-play__paragraph">
            Игры на районе - это возможность найти с кем поиграть в баскетбол в выходные, или создать свою игру и
            пригласить других игроков присоединиться.
          </p>
        </div>
      </a>


      <div class="section-play__wrapper-link">
        <a href="/" class="section-play__list-link button-common">текст кнопки</a>
      </div>
    </li>




    <li class="section-play__list-item" aria-labelledby="card2-title" aria-describedby="card2-description">

      <a href="/" class="card-play">
        <div class="card-play__header">
          <div class="card-play__container-img card-play__container-img--v2">
            <img class="card-play__img" src="./assets/img/play/card_2.png" alt="Баскетбольный мяч">
          </div>
        </div>
        <div class="card-play__content">
          <h3 id="card2-title" class="card-play__title">Создавай команды</h3>
          <p id="card2-description" class="card-play__paragraph">Игры на районе - это возможность найти с кем поиграть в
            баскетбол в выходные,
            или создать свою игру и
            пригласить других игроков присоединиться.
          </p>
        </div>
      </a>
      <div class="section-play__wrapper-link">
        <a href="/" class="section-play__list-link button-common">текст кнопки</a>
      </div>
    </li>






    <li class="section-play__list-item" aria-labelledby="card3-title" aria-describedby="card3-description">
      <a href="/" class="card-play">
        <div class="card-play__header">
          <div class="card-play__container-img">
            <img class="card-play__img" src="./assets/img/play/card_3.png" alt="Команды играют в баскетбол">
          </div>
        </div>
        <div class="card-play__content">
          <h3 id="card3-title" class="card-play__title">Участвуй в турнирах</h3>
          <p id="card3-description" class="card-play__paragraph">Участвуйте в турнирах вместе с вашей командой. Будьте
            активными, побеждайте и получайте ачивки и призы от наших спонсоров.
          </p>
        </div>
  
      </a>
      <div class="section-play__wrapper-link">
        <a href="/" class="section-play__list-link button-common">текст кнопки</a>
      </div>
      
    </li>

  </ul>

</section>