<section class="section-hero">

  <div  class="section-hero__slider slider30">

    <figure  class="slider30__item slider30__item--active">
      <picture>
        <source srcset="assets/img/hero_img/hero_1_mobile.webp" media="(max-width: 430px)">
        <source srcset="assets/img/hero_img/hero_1_desc.webp" media="(min-width: 431px)">
        <img class="slider30__item-img" src="assets/img/hero_img/hero_1_desc.webp" alt="Парни играют в баскетбол">
      </picture>
      <figcaption class="slider30__item-title">Найди с кем поиграть в баскет</figcaption>
    </figure>

    <figure class="slider30__item">
      <picture>
        <source srcset="assets/img/hero_img/hero_2_mobile.webp" media="(max-width: 430px)">
        <source srcset="assets/img/hero_img/hero_2_desc.webp" media="(min-width: 431px)">
        <img class="slider30__item-img" src="assets/img/hero_img/hero_2_desc.webp" alt="Девушки играют в баскетбол">
      </picture>
      <figcaption class="slider30__item-title">Смотри как играют в баскет</figcaption>

    </figure>

    <figure class="slider30__item">
      <picture>
        <source srcset="assets/img/hero_img/hero_3_mobile.webp" media="(max-width: 430px)">
        <source srcset="assets/img/hero_img/hero_3_desc.webp" media="(min-width: 431px)">
        <img class="slider30__item-img" src="assets/img/hero_img/hero_3_desc.webp" alt="Мальчики играют в баскетбол">
      </picture>
      <figcaption class="slider30__item-title">Учись с нами играть в баскет</figcaption>
    </figure>
  </div>
  
  <div class="section-hero__container-toggle">
    <button aria-hidden="true" class="section-hero__toggle button-common button-common--active">Играй</button>
    <button aria-hidden="true" class="section-hero__toggle button-common">Смотри</button>
    <button aria-hidden="true" class="section-hero__toggle button-common">Учись </button>
  </div>
  

</section>