<section class="section-learn" aria-labelledby="learn-title">

    <div class="section-learn__header header-section">
      <h2 id="learn-title" class="header-section__title">
        Учись
      </h2>
      <a class="header-section__link header-section__link--green link-common" aria-label="Перейти в раздел 'Учись'" href="/" >
        В раздел
      </a>
    </div>


  <section aria-labelledby="sections-title" class="section-learn__main section-basket">
    <h3 id="sections-title" class="section-basket__title sub-title-common">
      мы собрали секции для детей по всему городу
    </h3>
    <div class="section-basket__container-img">
      <img class="section-basket__img" src="./assets/img/hero_img/hero_3_desc.webp" alt="Дети играю в баскетбол">
    </div>

    <a aria-label="Перейти в раздел наши секции по городу" href="/" class="pill-item section-basket__link">
      12 Секций по всему городу
    </a>
  </section>

  <aside aria-label="Дополнительная информация" class="section-learn__aside articles-basket hidden-aside-430">




    <article aria-labelledby="video-tutorials-title" class="articles-basket__content video-tutorials">

      <a id="video-tutorials-title" href="/" class="video-tutorials__link link-common link-common--arrow-hover">Видеоуроки</a>

      <a href="/" class="video-tutorials__content">

        <div class="video-tutorials__container-img">
          <img class="video-tutorials__img" src="./assets/img/learn/lern_aside_1.webp" alt="Изображение для видеоуроков">
        </div>

        <div class="video-tutorials__info">
          <p class="quote">
            <cite>Евгений Воронов</cite>: <q>Бронзовые медали - оценка труда нашей команды</q>
          </p>

          <div class="quote-date pill-item">
            <time datetime="2025-09-26">26 октября</time>
          </div>

        </div>

      </a>


    </article>
















    <article aria-labelledby="articles-title" class="articles-basket__content articles">
      <a id="articles-title" href="/" class="articles__link link-common link-common--arrow-hover">Статьи</a>
      <div class="articles__content">
        <p class="quote articles__quote">
          <cite>Евгений Воронов</cite>: <q>Бронзовые медали - оценка труда нашей команды</q>
        </p>
        <div class="quote-date pill-item">
          <time datetime="2025-09-26">26 октября</time>
        </div>
      </div>
    </article>


    <article aria-labelledby="terms-title" class="articles-basket__content terms-basket">
      <a id="terms-title" href="/" class="terms-basket__link link-common link-common--arrow-hover">Термины</a>
      <ul aria-label="Список терминов" class="terms-basket__list">
        <li class="terms-basket__list-item pill-item">
          <a class="terms-basket__list-link" href="/">
            Треха
          </a>
        </li>
        <li class="terms-basket__list-item pill-item">
          <a class="terms-basket__list-link" href="/">
            Трехочковый бросок
          </a>
        </li>
        <li class="terms-basket__list-item pill-item">
          <a class="terms-basket__list-link" href="/">
            36 Терминов
          </a>
        </li>

      </ul>
    </article>
  </aside>


  <section aria-labelledby="trainer-title" class="section-learn__footer trainer-basket">
   
      <h3 id="trainer-title" class="trainer-basket__title sub-title-common">
        Подбери тренера под свой  уровень
      </h3>
      <ul aria-label="Список ссылок на тренировки" class="trainer-basket__list">
        <li class="trainer-basket__list-item pill-item">
          <a class="trainer-basket__list-link" href="/">
            Детская тренировка
          </a>
        </li>
        <li class="trainer-basket__list-item pill-item">
          <a class="trainer-basket__list-link" href="/">
            Для начинающих
          </a>
        </li>
        <li class="trainer-basket__list-item pill-item">
          <a class="trainer-basket__list-link" href="/">
            Стритбол
          </a>
        </li>
        <li class="trainer-basket__list-item pill-item">
          <a class="trainer-basket__list-link" href="/">
            Выезд тренера на дом
          </a>
        </li>
        <li class="trainer-basket__list-item pill-item">
          <a class="trainer-basket__list-link" href="/">
            12 Фильтров
          </a>
        </li>

      </ul>

 

  </section>


</section>