<meta charset="UTF-8">
<link rel="icon" type="image/svg+xml" href="assets/img/logo.svg" />
<link rel="stylesheet" href="assets/css/style.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Xpage специализируется на развитие баскетбола в России. Мы создаем новые таланты." />

	<meta name="keywords" content="баскетбол, игры в баскетбол, тренировки по баскетболу, секция баскетбола, NBA, баскетбольные клубы, молодежный баскетбол, баскетбольные турниры, тренеры по баскетболу, баскетбольные навыки, физическая подготовка, спортивные мероприятия, командный дух, развитие баскетбольных навыков, баскетбольные программы" />


<meta name="author" content="Vlad Halimov" />


<meta property="og:title" content="Баскетбол в России — Все о баскетболе от Xpage" />
<meta property="og:description" content="Xpage — ваша платформа для баскетбольных тренировок, турниров и новостей. Узнайте больше о секциях, клубах и развитии баскетбольных навыков." />


<meta property="og:image" content="assets/img/ball.webp"/>
<meta property="og:url" content="http://xpage.ru" />

<meta name="twitter:title" content="Mich Dev — Разработка лендингов и приложений | Mich Dev" />
<meta name="twitter:description" content="Mich Dev — компания, специализирующаяся на разработке высококонверсионных лендингов, игр и приложений. Мы создаем адаптивные решения, которые удовлетворяют потребности вашего бизнеса." />
<meta name="twitter:image" content="assets/img/ball.webp" />
<meta name="twitter:card" content="summary_large_image" />

<title>{{title}}</title>